# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.sqlite3
db.sqlite3
*.log
media/
staticfiles/

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System Files
.DS_Store
Thumbs.db
*.swp

# Environment Variables
.env
*.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Pytest
.cache
.pytest_cache/
